<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
<body>

<h2>Daily Vitals</h2>

<p>Enter BP & Weight readings for today:</p>

<form>
  <fieldset class="health">
    <legend>Blood Pressure:</legend>
    <br>
    <div class="blood-pressure">
    <div class="bp-div" id="bp-div-1">
      <div class="bp-readings-div" id="systolic">
        <label class="bp-label"for="Sys">Systolic:</label><br>
        <input type="number" class="bp-input" id="systolic-reading-1" name="systolic-reading"><br>
      </div>

      <div class="bp-readings-div" id="diastolic">
        <label class="bp-label"for="Dia">Diastolic:</label><br>
        <input type="number" class="bp-input" id="diastolic-reading-1" name="diastolic-reading"><br>
      </div>

      <div class="bp-readings-div" id="pulse">
        <label class="bp-label"class="bp-label" for="Pul">Pulse:</label><br>
        <input type="number" class="bp-input" id="pulse-reading-1" name="pulse-reading"><br><br><br>
      </div>
    </div>

    <div class="bp-div" id="bp-div-2">
        <div class="bp-readings-div" id="systolic">
          <label class="bp-label"for="Sys">Systolic:</label><br>
          <input type="number" class="bp-input" id="systolic-reading-2" name="systolic-reading"><br>
        </div>

        <div class="bp-readings-div" id="diastolic">
          <label class="bp-label"for="Dia">Diastolic:</label><br>
          <input type="number" class="bp-input" id="diastolic-reading-2" name="diastolic-reading"><br>
        </div>

        <div class="bp-readings-div" id="pulse">
          <label class="bp-label"for="Pul">Pulse:</label><br>
          <input type="number" class="bp-input" id="pulse-reading-2" name="pulse-reading"><br><br><br>
        </div>
    </div>

    <div class="bp-div" id="bp-div-3">
      <div class="bp-readings-div" id="systolic">
        <label class="bp-label"for="Sys">Systolic:</label><br>
        <input type="number" class="bp-input" id="systolic-reading-3" name="systolic-reading"><br>
      </div>

      <div class="bp-readings-div" id="diastolic">
        <label class="bp-label"for="Dia">Diastolic:</label><br>
        <input type="number" class="bp-input" id="diastolic-reading-3" name="diastolic-reading"><br>
      </div>

      <div class="bp-readings-div" id="pulse">
        <label class="bp-label"for="Pul">Pulse:</label><br>
        <input type="number" class="bp-input" id="pulse-reading-3" name="pulse-reading"><br><br><br>
      </div>
    </div>
  </div>
  </fieldset>
  
  <fieldset class="health" id="wbb">
    <legend>Weight <b>Before</b> Breakfast:</legend>
    <div class="wbb-div">
      <p>1.</p>
      <input type="number"id="wbb-1" name="wbb" value="Reading 1">
    </div>
    <div class="wbb-div">
      <p>2.</p>
      <input type="number"id="wbb-2" name="wbb" value="Reading 2">
    </div>
    <div class="wbb-div">
      <p>3.</p>
      <input type="number"id="wbb-3" name="wbb" value="Reading 3">
    </div>
    
  </fieldset>
  
  <fieldset class="health">
    <legend>Weight <b>After</b> Breakfast:</legend>
    <div class="wab-div">
      <p>1.</p>
      <input type="number"id="wab-1" name="wab" value="Reading 1"><br><br>
    </div>
    <div class="wab-div">
      <p>2.</p>
      <input type="number"id="wab-2" name="wab" value="Reading 2"><br><br>
    </div>
    <div class="wab-div">
      <p>3.</p>
      <input type="number"id="wab-3" name="wab" value="Reading 3"><br>
    </div>
  </fieldset>
  
  <!-- <input type="submit" value="Submit"> -->
  <button class="button button2">SUBMIT</button>

</form>
</body>
</html>

